@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.header {
    margin:auto;
    display:inline-block;
    color:white;
    justify-content: center;
  }
  
  img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
  
  body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width : 608px) {
    img {
      width:90%;
      height:auto;
      margin:auto;
    }
  }

  
  
   /* Navbar*/
  
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    ul {
    list-style: none;
    }

    a.one {
    font-size: 2rem;
    text-decoration: none;
    }
  
  
  .navigation {
    display: flex;
    background:black;
    margin:auto;
    
  }
  
  .menu { 
    display: flex;
    float: left;
  }
  
  .menu-right {
    float:right;
  }
  
  .menu a.one.active {
    color:rgb(245, 243, 239);
  }
  
  @media (min-width : 708px) {
    .menu > li:not(:last-child) {
      margin-right: 40px;
    }
    
  }
  
  @media (max-width : 707px) {
      .menu > li:not(:last-child) {
        margin-right: 8%;
      }
      
      .menu {
        flex-direction: row;
      }
  
      .menu a.one {
        font-size: 1.5rem;
      }
 
  }
  
  .menu a.one {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    display: inline-block;
    text-align: center;
    color: #666;
    transition: color .2s ease;
    padding: 3px 0;
    margin-bottom: 15px;
    font-family: cursive;
  }
  
  .menu a.one:hover {
      color: #aaa;
    }
  
  .menu a.one:hover::after,
      .menu a:hover::before {
        width: 100%;
        left: 0;
      }
  
  .menu a.one::after,
    .menu a.one::before {
      content: ''; 
      position: absolute;
      top: calc(100% + 5px);
      width: 0;
      right: 0;
      height: 3px;
    }
  
  .menu a.one::before {
      transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
      background: #2196f3;
    }
  
  .menu a.one::after {
      transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: #f175c8;
    }
  
  
a.two {
    text-decoration: none;
    color: #a14c64;
    transition: all 300ms;
}

a.two:hover {
    opacity: .5;
}


.container {
    font-size: 1rem;
    padding-top: 0.1rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    background:rgba(29, 20, 20, 0.2);
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 0 1.5rem 2rem;
    color: #fafafa;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 4px;
    box-shadow:inset 0 -1rem 1rem rgba(255, 255, 255, 0.2),
                0 0 0 1px rgba(255, 255, 255, 0.1),
                0.3rem 0.2rem 3rem rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

/* Header */
.card__header {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card__header h2.title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
}

.card__header h2.title span {
    color: #C06C84;
}

/* Body */
.card__body {
    width: 100%;
    padding-bottom: 1rem;
}

/* Label */
label {
    display: block;
    margin-bottom: .5rem;
    font-size: .75em;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* Input */
input {
    display: block;
    margin-bottom: 1.25rem;
    padding-left: .8rem;
    width: 100%;
    height: 2.75rem;
    font-size: 1rem;
    color: rgba(250, 250, 250, .9);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    outline: none;
    transition: background-color .5s;
}

div.wrap-username-and-type {
    display:flex; 
    flex-wrap: wrap;
    padding-bottom: 15px;
}

input#usernameInput {
    width: 65%;
}

input::placeholder, input::-webkit-input-placeholder  {
    color: rgba(255, 255, 255, .5);
}

input:hover,
input:focus {
    background-color: rgba(255, 255, 255, .5);
}

/* Footer */
.card__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Button */
.btn_log-in-up {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .5);
    padding: 1rem 2rem;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, .8);
    transition: all .5s;
}

.btn_log-in-up:hover {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgb(255, 255, 255);
}

.card__footer p {
    margin-bottom: 0;
    font-size: .8rem;
}

/* Responsive */
@media (max-width: 530px) {
    .card {
        width: 100%;
    }

    input#usernameInput {
        width: 100%;
    }
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-icons i{
  position: absolute;
}

.input-icons {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  position: absolute;
  right:1.5em;
  top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

select.selectStyle#user_type {
  cursor: pointer;
  z-index: 10;
  width: 90px;
  border-radius: 10px;
  position: relative;
  height: 45px;
  margin-left: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #00000038;
  padding: 10px;
  font-family: initial;
  font-size: 15px;
  color:white;
}

select.selectStyle#user_type option {
  cursor: pointer;
  background: transparent;
}

/* error popup Login*/
.popup2.code {
  width: 25rem;
  height: auto;
  top:50%;
  margin: auto 15%;
  position:fixed;
  background-color: #C06C84;
  box-shadow: 2px 2px 1rem #212121;
  border-radius: 25px;
  z-index:20;
  padding: 30px;
}

.popup2.code a:link, .popup2.code a:hover, .popup2.code a:visited {
  color:transparent;
}

.popup2.code button#upBtn {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  outline: none;
  border: 0;
  background-color: transparent;
  width: 25px;
  height: 20px;
  color: #111010;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.25rem;
}

.popup2.code button#typeCode { 
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 3px;
  color: black;
  padding: 5px;
  border-style: dashed;
}

.popup2.code button#typeCode:hover { 
  color: white;
  transition: 0.3s ease-out;
}


.popup2.code button#downBtn:hover {
  color: white;
  transition: 0.3s ease-out;
}

.popup2.code button#downBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: #111010;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.25rem;
}

.popup2.code button#downBtn p#confirmText {
  font-family: cursive;
  font-size: 14px;
  letter-spacing: 1px;
}

.popup2.code .input-inside {
  width: 80%;
  padding-top: 5px;
  padding-left: 10px;
}

div.buttonDown {
  margin:auto; 
  width:100px;
  height:auto;
  margin-top:1px;
  display:flex; 
  flex-flow:row;
}

@media (max-width : 800px) {
  .popup2.code {
    margin: auto 15%;
  }
}

@media (max-width : 550px) {
  .popup2.code {
    margin: auto 10%;
    width: 300px;
  }
}

@media (max-width : 380px) {
  .popup2.code {
    width: 200px;
  }
}

@media (max-width : 270px) {
  .popup2.code {
    margin: auto 10%;
  }
}

/* gradient for email*/
.gradient {
  height: auto;
  background-image: linear-gradient(to right, rgba(287, 202, 192), rgba(142, 65, 98));
  opacity:0.8;
}


